<div class="tasks">
    <div *ngFor="let task of tasks; let i = index;" class="task {{ (task.completed ? 'done' : '') }}">
      <div class="id">{{ i + 1 }}</div>
      <div class="content" (click)="toggleDone(i)">{{ task.content }}</div>
      <button class="delete" (click)="removeTask(i)">Remove</button>
    </div>

    <form (submit) ="addTask()">
      <input type="text"
        name="inputTask"
        placeholder="Enter task..."
        class="task-input"
        [(ngModel)]="inputTask"
      />
        <input type="submit" value="Add Task" class="task-submit">
    </form>
    <footer><br>Note: You can click on the description of any task to cross it out.</footer>
</div>
